ZKSYNC_SEPOLIA_WALLET_PRIVATE_KEY=
ZKSYNC_SEPOLIA_WALLET_ADDRESS=
ZKSYNC_SEPOLIA_RPC_URL=https://sepolia.era.zksync.dev

ZKSYNC_SEPOLIA_TEST_TOKEN=
ZKSYNC_SEPOLIA_TEST_TOKEN_NAME=ZK Agent Test Token
ZKSYNC_SEPOLIA_TEST_TOKEN_SYMBOL=ZKAT
ZKSYNC_SEPOLIA_TEST_TOKEN_DECIMALS=18
ZKSYNC_SEPOLIA_TEST_TOKEN_SUPPLY=1000000

ZKSYNC_SEPOLIA_PAYMASTER_ADDRESS=
